#
# Contest 2026 team 106 board configuration
# Based on r528s3-gemini-s1 with DMIC support
#

if ARCH_BOARD_CONTEST2026_106_BOARD

config ARCH_BOARD_CONTEST2026_106_BOARD_TAG
	string "Board tag"
	default "contest2026_106_board"

endif
